
@model PagedList.IPagedList<Mult_ecommerce.Models.Category>
@using PagedList.Mvc
@{
    ViewBag.Title = "ViewCategory";
    Layout = "~/Views/Shared/MakertingLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />
<p class="display-6 text-center fw-bold text-danger">Category</p>
@if (Model != null)
{
    foreach (var category in Model)
      
        {
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card-container card m-4 border-0 d-flex w-75" style="border-radius: 24px; margin-left:20px;">
                    <img src="@Url.Content(category.Cat_image)" class="card-img-top" height="230" alt="@category.Cat_name Cat_image" />
                    <h4 class="text-danger text-center fw-bold text-decoration-none">@category.Cat_name</h4>
                </div>
            </div>
        }
 
}
<div class="text-center mt-4">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>


